<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  <title>Goods</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/index.css') }}">
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
<script>
$(document).ready(function(){
var text = localStorage.getItem('token');
$.ajax({url: 'http://localhost:6002', 
    type : 'POST',
    contentType: 'application/json;charset=UTF-8',
    data : {'data':text}});
}
</script>

<div id="base">
    {% for item in items %}
        {% include 'item.html' %}
    {% endfor %}
</div>

{% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

</body>
</html>